.cursorignore
/docs/playground/.env
/docs/playground/BING_API_KEY.txt
/docs/playground/tmp/
/Nebular-dev/.idea/
.aider*
/.idea/.name
/docs/playground/ags_path.txt
/docs/playground/codegen_attempt01.py
/.idea/git_toolbox_blame.xml
/docs/playground/groupchat_spec.json
/.idea/httpClient.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/Nebular.iml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/Nebular-dev/SQLite.py
/Nebular-dev/test.db
/Nebular-dev/test_main.http
/docs/playground/tutorial_01_groupChat.py
/docs/playground/tutorial_02_codeExecution.py
/docs/playground/tutorial_03_function_call.py
/docs/playground/tutorial_04_retrieve.py
/docs/playground/tutorial_05_compression.py
/docs/playground/tutorial_06_graphTransition.py
/docs/playground/tutorial_07_WebInfo.py
/docs/playground/tutorial_08_Teachability.py
/docs/playground/tutorial_09_WorkFlow.py
/docs/playground/tutorial_10_text_to_SQL.py
/docs/playground/tutorial_11_MemGPT.py
/docs/playground/tutorial_12_OptiGuide.py
/.idea/vcs.xml
.idea!/.vscode/
**/.db
**/.db-shm
**/.db-wal
**/.idea/
**/.vscode/
**/.cache/
**/__pycache__/
**/.log
**/.DS_Store
**/logs/
*.log
*.log.*
.env

docs/design/核心类图.md
dailywork.sh
git_changes_today.txt
docs/playground/archive/groupchat/search_arxiv_gpt4.py
.gitignore
