/playground/.env
/playground/BING_API_KEY.txt
/playground/tmp/
/Nebular-dev/.idea/
.aider*
/.idea/.name
/playground/ags_path.txt
/playground/codegen_attempt01.py
/.idea/git_toolbox_blame.xml
/playground/groupchat_spec.json
/.idea/httpClient.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/Nebular.iml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/Nebular-dev/SQLite.py
/Nebular-dev/test.db
/Nebular-dev/test_main.http
/playground/tutorial_01_groupChat.py
/playground/tutorial_02_codeExecution.py
/playground/tutorial_03_function_call.py
/playground/tutorial_04_retrieve.py
/playground/tutorial_05_compression.py
/playground/tutorial_06_graphTransition.py
/playground/tutorial_07_WebInfo.py
/playground/tutorial_08_Teachability.py
/playground/tutorial_09_WorkFlow.py
/playground/tutorial_10_text_to_SQL.py
/playground/tutorial_11_MemGPT.py
/playground/tutorial_12_OptiGuide.py
/.idea/vcs.xml
